<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", :back %></li>
<% end %>
<% content_for :nav_right do  %>
  <li><%= icon_link_to "edit", edit_rabbit_path(@rabbit) %></li>
<% end %>

<%= @rabbit.age %> <br>
<%= @rabbit.gender %>

