<div class="list-group">
  <% cage.each do |cage| %>
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="material-icons"><%= cage.code %></i>
      </div>
      <div class="row-content">
        <div class="least-content">15m</div>
        <h4 class="list-group-item-heading"><%= cage. %></h4>

        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  <% end %>
</div>