<p id="notice"><%= notice %></p>

<h1>Listing Cages</h1>


<div class="list-group">
  <% @cages.each do |cage| %>
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="material-icons">folder</i>
      </div>
      <div class="row-content">
        <div class="least-content">15m</div>
        <h4 class="list-group-item-heading">Tile with a label</h4>

        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
    <div class="list-group-separator"></div>
  <% end %>
</div>


<br>

<%= link_to content_tag(:i, "+", class: "material-icons"), new_cage_path, class: "btn btn-primary btn-fab" %>
