// Place all the styles related to the Rabbits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-group .list-group-item .row-action-primary {
  // background-color: $fattening-color;

  &.row-action-gender-male i {
    background-color: blue;
  }

  &.row-action-gender-female i {
    background-color: pink;
  }
}

.general_details {
  font-size: 20px;
  text-align: center;
}

.list-group.rabbit-details {


  .list-group-item {

    .row-content {
      h4 {
        position: absolute;
        top: 16px;
      }

      .least-content {
        right: 70px;
        top: 23px;
        font-size: 16px;
      }

      .action-secondary {
      }
    }
  }

  .list-group-separator:before {
    width: 100%;
  }
}


