// Place all the styles related to the Rabbits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-group .list-group-item .row-action-primary {
  // background-color: $fattening-color;

  &.row-action-gender-male i {
    background-color: #2196F3;
  }

  &.row-action-gender-female i {
    background-color: #F06292;
  }
}

.general_details {
  font-size: 20px;
  text-align: center;
}

.list-group.rabbit-details {


  .list-group-item {

    .row-content {
      min-height: 40px;

      h4 {
        position: relative;
        top: 4px;
        margin-bottom: 8px;
      }

      .least-content {
        right: 55px;
        top: 10px;
        font-size: 16px;
      }

      .action-secondary {
        top: 3px;
      }

      .list-group-item-text.notes {
        margin-top: 7px;
        margin-bottom: 7px;
        position: relative;
        font-size: 17px;
      }
    }
  }

  .list-group-separator {
    margin-bottom: 5px;
    margin-top: 5px;

    &:before {
      width: 100%;
    }
  }

}


.btn.btn-fab.add-weight {
  margin: 5px auto;
}

